@font-face {
  font-family: "Havana";
  src: url("/assets/fonts/Havana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HappyBirthday";
  src: url("/assets/fonts/HappyBirthday_Demo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JumpingChick";
  src: url("/assets/fonts/Jumping%20Chick.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
